---
---

$custom-violet: #68366e;
$link-color:$custom-violet;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.masthead {
  color: white;
  background-color: $custom-violet;
  #site-nav {
    background-color: $custom-violet;
    a {
      color: white;
    }
    a.site-logo {
      background-color: white;
      border-radius: .3em;
    }
  }
}
